@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.main {
    padding-top: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:#333333;
}

.quote {
    font-family: 'Allura', sans-serif;
    padding: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 200;
}

.random {
    display: block;
    margin: 40px auto;
    margin-top: 100px;
    padding: 10px;
    background-color: #75ceff;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px #000;
    font-size: 20px;
    cursor: pointer;
}

.tweet {
    margin: 30px;
    text-decoration: none;
    color: #000;
    color: #75ceff;
}

.fab {
    text-decoration: none;
    color: #000;
    color: #75ceff;
    font-size: 25px;
}
  